@use '../base/variables.module.scss' as v;
@use '../base/mixins.module.scss' as m;

/* --- HEADER --- */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(62, 62, 62, .5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;

    &_h2 {
        margin: 0;
        color: v.$primarioCuatro;
    }

    &_layout {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    &_span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.25s ease;
        color: v.$primario;
    }

    &_nav {
        span {
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
        }
    }

    &_reactIcon {
        font-size: 26px;
        color: v.$primarioCinco;
        transition: all 0.25s ease;
    }

    &_p_telefono {
        text-decoration: none;
        font-size: 26px; // Compartido con reactIcon
        color: v.$primarioCinco;  // Compartido con reactIcon
        transition: all 0.25s ease;
        margin: 0;
        font-weight: 600;

        &:hover {
            color: v.$primarioSeis;
        }
    }
}